:root {
    /* Main colors */
    --color-black: #000000;
    --color-navy: #14213D;
    --color-orange: #FCA311;
    --color-light: #E5E5E5;
    --color-white: #FFFFFF;
    
    /* UI colors */
    --color-background: var(--color-white);
    --color-text: var(--color-black);
    --color-primary-button: var(--color-black);
    --color-secondary-button: var(--color-navy);
    --color-accent-button: var(--color-orange);
    --color-border: rgba(0, 0, 0, 0.1);
    --color-card-shadow: rgba(0, 0, 0, 0.05);
  }